@model UserLoginViewModel
@{
    ViewData["Title"] = "Login";
}
<div style="padding-top:50px; padding-bottom:100px;">
    <div class="container d-flex justify-content-center">
        <h1 style="text-align:center;">Login</h1>
    </div>
    <div class="container">
        <!-- log in form -->
        <form class="cd-form" method="post">
            <p class="fieldset">
                <label asp-for="Username" class="image-replace cd-email">Username</label>
                <input asp-for="Username" class="full-width has-padding has-border" placeholder="Username">
                <span asp-validation-for="Username" class="text-danger"></span>
            </p>
            <p class="fieldset">
                <label asp-for="Password" class="image-replace cd-email">Password</label>
                <input asp-for="Password" class="full-width has-padding has-border" placeholder="Password">
                <a href="#0" class="hide-password">Hide</a>
                <span asp-validation-for="Password" class="text-danger"></span>
            </p>
            <p class="fieldset">
                <input type="checkbox" id="remember-me" checked>
                <label for="remember-me">Remember me</label>
            </p>
            <p class="fieldset">
                <button type="submit" class="btn btn-success">Login</button>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </p>
        </form>
        <p class="cd-form-bottom-message">
            <a href="#0">Forgot your password?</a>
        </p>
        <a href="#0" class="cd-close-form">Close</a>
    </div>
</div>
@*<!-- sign up form -->
<div id="cd-signup">
    <form class="cd-form">
        <p class="fieldset">
            <label class="image-replace cd-username" for="signup-username">Username</label>
            <input class="full-width has-padding has-border" id="signup-username" type="text" placeholder="Username">
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-email" for="signup-email">E-mail</label>
            <input class="full-width has-padding has-border" id="signup-email" type="email" placeholder="E-mail">
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <label class="image-replace cd-password" for="signup-password">Password</label>
            <input class="full-width has-padding has-border" id="signup-password" type="text" placeholder="Password">
            <a href="#0" class="hide-password">Hide</a>
            <span class="cd-error-message">Error message here!</span>
        </p>

        <p class="fieldset">
            <input type="checkbox" id="accept-terms">
            <label for="accept-terms">I agree to the <a href="#0">Terms</a></label>
        </p>

        <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Create account">
        </p>
    </form>

    <a href="#0" class="cd-close-form">Close</a>
</div> <!-- cd-signup -->
<!-- reset password form -->
<div id="cd-reset-password">
    <p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

    <form class="cd-form">
        <p class="fieldset">
            <label class="image-replace cd-email" for="reset-email">E-mail</label>
            <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
            <span class="cd-error-message">Error message here!</span>
        </p>
        <p class="fieldset">
            <input class="full-width has-padding" type="submit" value="Reset password">
        </p>
    </form>

    <p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
</div> <!-- cd-reset-password -->
<a href="#0" class="cd-close-form">Close</a>*@


